@import url(https://fonts.googleapis.com/css?family=Cookie|Raleway:300,700,400);
body {
  background-color: #aebfd3;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  margin: 0px;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px;
}

div.table-title {
  display: block;
  margin: auto;
  max-width: 600px;
  padding: 5px;
  width: 100%;
}

.table-title h3 {
  color: #000000;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  font-family: 'Roboto', helvetica, arial, sans-serif;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}

/*** Table Styles **/

.table-fill {
  background: white;
  border-radius: 3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 500px;
  padding: 5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}

th {
  color: #d5dde5;
  max-width: 70px;
  text-align: center;
  background: #1b1e24;
  border-bottom: 4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size: 20px;
  font-weight: 100;
  padding: 14px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align: middle;
}



th:first-child {
  border-top-left-radius: 3px;
}

th:last-child {
  border-top-right-radius: 3px;
  border-right: none;
}

tr {
  border-top: 1px solid #c1c3d1;
  border-bottom: 1px solid #c1c3d1;
  color: #666b85;
  font-size: 14px;
  font-weight: normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:hover td {
  background: #7f7f83;
  color: #ffffff;
  border-top: 1px solid #22262e;
}

tr:first-child {
  border-top: none;
}

tr:last-child {
  border-bottom: none;
}

tr:nth-child(odd) td {
  background: #ebebeb;
}

tr:nth-child(odd):hover td {
  background:#7f7f83;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 3px;
}

tr:last-child td:last-child {
  border-bottom-right-radius: 3px;
}

td {
  background: #ffffff;
  padding: 20px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #c1c3d1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}
.icono1{
  width:40px;
  /* margin: 10px; */
  padding: 0px;
}

.icono2{
  width:40px;
  /* margin:10px; */
  padding: 0px;
}

.contIcono{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.contBuscar{
  display: flex;
  align-items: center;
  justify-content: center;
}

.contBuscar h3{
  margin: 20px;
}

.contIcono .botIcon button{
  background-color: #d9d9dd;
  border:none;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.contIcono .botIcon button:active {
    background-color: #4e5066;
    box-shadow: 0 0 0 2px white, 0 0 0 4px #4e5066;
}